$list-background: #eee

// TODO better way to style container?
body, body > .ember-view, .everything
  height: 100%

.everything
  @extend .row

aside
  @extend .small-1
  @extend .column

  height: 100%

  padding: 0

nav
  @extend .icon-bar
  @extend .vertical
  width: 100%

  label
    display: none

main
  @extend .small-11
  @extend .columns
  height: 100%

.list-and-details
  @extend .row
  height: 100%

  .list
    @extend .small-4
    @extend .columns
    height: 100%
    overflow-y: scroll

    background-color: $list-background

  .details
    @extend .small-8
    @extend .columns
    height: 100%
    overflow-y: scroll
