$list-background: #eee

// TODO better way to style container?
body, body > .ember-view, .everything
  height: 100%

// TODO preprocess prefixes

body > .ember-view
  display: -webkit-flex
  display: flex
  flex-direction: column

.everything
  display: -webkit-flex
  display: flex
  -webkit-flex: 1
  flex: 1

aside
  display: -webkit-flex
  display: flex
  -webkit-flex: 0 0 5rem
  flex: 0 0 5rem
  height: 100%

  padding: 0

nav
  @extend .icon-bar
  @extend .vertical
  width: 100%

  label
    display: none

main
  -webkit-flex: 1
  flex: 1
  height: 100%

.list-and-details
  display: -webkit-flex
  display: flex
  height: 100%

  .list
    -webkit-flex: 0 0 15rem
    flex: 0 0 15rem
    height: 100%
    overflow-y: scroll

    background-color: $list-background

  .details
    -webkit-flex: 1
    flex: 1
    height: 100%
    overflow-y: scroll
