$list-background: #eee

$aside-width: 4rem
$list-width: $aside-width*4

body, .everything
  height: 100%

body
  @include display(flex)
  @include flex-direction(column)

.everything
  @include display(flex)
  @include flex(1)

aside
  @include display(flex)
  @include flex(0 0 $aside-width)

  position: relative
  height: 100%

  padding: 0

nav
  @extend .icon-bar
  @extend .vertical
  position: fixed
  left: 0
  width: $aside-width
  overflow-y: scroll

  label
    display: none

main
  @include flex(1)
  height: 100%

main > .liquid-container
  height: 100%

  & .liquid-child
    height: 100%

.list-and-details
  @include display(flex)
  height: 100%

  .list
    @include flex(0 0 $list-width)
    height: 100%
    overflow-y: scroll

  // TODO layout vs appearance? hmm
  &:after
    left: $list-width

  .details
    @include flex(1)
    height: 100%
    overflow-y: scroll

.full-details
  height: 100%
  overflow-y: scroll

.row
  margin-left: 0
  margin-right: 0
