@import "settings";

@import "overrides";

@import "foundation";

@import "layout";

// FIXME remove pending inclusion of https://github.com/zurb/foundation/pull/5999

nav {
  a.active {
    background-color: $icon-bar-active-color;
  }
}
