ul.side-nav
  li.active
    background-color: #ccc

  &.fa-ul
    li
      padding-left: 1em
    .fa-li
      top: 0.75em
      left: 0.5em
      width: 0.5em

label.inline-radio
  display: inline
  margin-right: 1rem
