$colour-brand: $primary-color
$colour-brand-inactive: black
$colour-brand-active: $colour-brand
$colour-brand-trace: scale-color($colour-brand, $lightness: 90%)

$section-padding: $icon-bar-item-padding

// TODO define as height of one icon bar item?
$top-margin: 64px

table
  border: 0

  thead, tr, tr:nth-of-type(even)
    background: none

  th:first-child, td:first-child
    padding-left: 0

.address
  white-space: pre

aside nav a:first-child
  margin-top: $top-margin

header
  position: relative
  height: $top-margin

  h2, h3
    position: absolute
    bottom: 0

    margin: 0.5rem 0

  .secret-button
    position: relative
    // TODO how to align to header text?
    top: 33%
    width: 3rem
    float: right
    color: $colour-brand-trace
    text-align: right

    &.add:hover
      i:before
        // TODO figure out how to know this or how icon-changing hover should work in general
        content: "\f055"

  &:hover
    .secret-button
      color: $colour-brand

.list-and-details .list:hover
  .secret-button
    color: $colour-brand

aside nav
  background: white

  a
    position: relative

    &:hover, &.active
      background: white

    &:after
      position: absolute
      top: 0
      right: 0
      height: 100%

      border-right: 1px solid $colour-brand-trace

      content: ""
    i
      color: $colour-brand-inactive

    &:hover i, &.active i
      color: $colour-brand-active

.list-and-details
  .list, .details
    position: relative

    padding: 0 $section-padding

  .list:after
    position: fixed
    top: 64px
    bottom: 64px

    border-right: 1px solid $colour-brand-trace

    content: ""

.full-details
  padding: 0 $section-padding

ul.side-nav
  li a:not(.button)
    color: $colour-brand-inactive

    &:hover, &.active
      background: inherit
      color: $colour-brand-active

  &.fa-ul
    li
      padding-left: 1em
      &.heading
        padding-left: 0

        color: $colour-brand-inactive

    .fa-li
      top: 0.75em
      left: 0.5em
      width: 0.5em

      color: $colour-brand-inactive

    li.active, li:hover
      .fa-li
        color: $colour-brand-active

label.inline-radio
  display: inline
  margin-right: 1rem

.fulfillment-list
  list-style-type: none
  margin: 0.5rem 0 1rem 0.5rem

  li
    float: left
    margin-right: 0.5rem
    padding: 0.25rem 0.5rem

    background: #eee

    zoom: 0.75

    .deleter
      padding-left: 0.5rem
      cursor: pointer

      color: #ccc
      transition: color 100ms ease-out

    i
      padding-right: 0.5rem

    &:hover
      .deleter
        color: black

    &.warning
      cursor: help
      background: red

  &:after
    visibility: hidden
    display: block
    font-size: 0
    content: ' '
    clear: both
    height: 0
