aside nav a:first-child
  margin-top: $block-height*2.375

aside nav
  width: $block-height*2

  background: white

  a
    position: relative

    width: $block-height*2
    height: $block-height*2

    &:hover, &.active
      background: white

    &:after
      position: absolute
      top: 0
      right: 0
      height: 100%

      border-right: 1px solid $colour-brand-trace

      content: ""
    i
      color: $colour-brand-inactive
      @include single-transition(color, $speed: 150ms)

    &:hover i, &.active i
      color: $colour-brand-active
