$issue-width: 100px
$issue-height: $issue-width*8.5/7

.issue-list
  @include block-grid($per-row: 6, $spacing: $issue-width/5)

  li
    position: relative

    width: $issue-width
    height: $issue-height

    border: 1px solid $colour-brand
    background: white

    padding: 0.5rem
    margin: 0.5rem 0.5rem 0 0

    display: inline-block

    a
      display: block

      width: 100%
      height: 100%

    .number
      position: absolute
      bottom: 0.5rem

    .count
      position: absolute
      bottom: 0.5rem
      right: 0.5rem

      font-size: 50%

    &.is-multiple
      &::before, &::after
        content: " "

        display: block
        position: absolute
        width: $issue-width
        height: $issue-height

        z-index: -1

        border: 1px solid $colour-brand
        background: #eee

        left: 2px
        top: -4px

      &::after
        left: 5px
        top: -7px
        z-index: -2

    &.future
      background: #eee
      opacity: 0.5

  .liquid-container, .liquid-child
    display: inline-block
