$border-colour: $colour-brand

$stock-colour: $colour-brand
$entity-mailed-colour: $colour-brand-trace
$retail-mailed-colour: mix($stock-colour, $entity-mailed-colour)

.stock-chart
  .c3-target-stock path[style]
    fill: $stock-colour !important
    stroke: $border-colour !important
    stroke-width: 1px
  .c3-target-entity-mailed path[style]
    fill: $entity-mailed-colour !important
    stroke: $border-colour !important
    stroke-width: 1px
  .c3-target-retail-mailed path[style]
    fill: $retail-mailed-colour !important
    stroke: $border-colour !important
    stroke-width: 1px

  .c3-tooltip-container[style]
    background: rgba(255, 255, 255, 0.75)
    font-size: 50%

    top: -1.5rem !important
    right: 0 !important
    left: 0 !important

.list .stock-chart
  position: absolute
  top: 8px
  right: 0
