<div class="icon-bar vertical two-up">
  {{#link-to 'people' classNames='item'}}
    {{fa-icon 'users'}}
    <label>People</label>
  {{/link-to}}
  {{#link-to 'issues' classNames='item'}}
    {{fa-icon 'book'}}
    <label>Issues</label>
  {{/link-to}}
</div>
{{outlet}}
