<h4>New return</h4>
<label>Number of copies {{input type='number' name='count' value=model.count autofocus=true}}</label>
<label>Issue {{view "select" name='issue' content=issues optionValuePath='content.id' optionLabelPath='content.title' prompt="Issue title" selection=model.issue}}</label>

<button {{action "doneEditing"}} class="js-save">Done</button>
<button {{action "revertEditing"}} class="js-cancel">Revert</button>
